/* The Matter of Records */

/* 

CONTENTS:

GENERAL
TEXT
HEADER	
NAV
MAST
SUB-MAST
MAIN
HOME
FOOTER

*/

/* GENERAL */
div, section, header, footer {
	overflow: hidden;
}
section, header, footer {
	clear: both;
}

/* TEXT */
body {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 80%;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'Dosis', Helvetica, Arial, sans-serif;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.15em;
}
a {
	border-radius: 2px;
	text-decoration: none;
	color: #000;
}
a:hover {
	background: #edf968;
}

/* HEADER */
header {

}

/* NAV */

/* MAST */
section#mast {

}

/* SUB-MAST */
section#sub-mast {

}

/* MAIN */
section#main {
	margin: 0 auto;
	width: 90%;
}

/* HOME */
div.featured-story {
	width: 48%;
	padding-bottom: 30px;
}
div.featured-story:nth-child(even) {
	float: left;
	clear: both;
}
div.featured-story:nth-child(odd) {
	float: right;
}
div.featured-story h2,
div.featured-story p {
	margin: 0;
}
div.featured-story img {
	width: 100%;
	margin-bottom: 4px;
}

/* FOOTER */
footer {

}
